.mainBackground{
    width: 100vw;
    height: 85vh;
    background: url('../../../img/antonio.jpg') center no-repeat;
    background-size: cover;    
    display: flex;
    flex-direction: row;   
    align-items: flex-start;
    color: "#FFFFFF";
    justify-content: space-between;
    padding: 12px 150px;
}
.flexMain{
    display: flex;

}
.item{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
}
.toolbar_head{
    display: flex;
    justify-content: space-between;
}