.footer{
    display: block;
    clear: both;
    text-align: center;
}
.container{
    

    top: 50%;
    width: 100%;
    background-color: $blue;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
}
