html{
    font-size: 16px;
    @include desktop{
        font-size: 16px;
    }
    @include laptop{
        font-size: 15px;
    }
    @include tablets{
        font-size: 14px;
    }
    @include phones{
        font-size: 13px;
    }
}

.wrapper{
    display: flex;
    width: 100vw;
    flex-direction: column;
}
.nav,.navbar,.navreg{
    display: flex;
    flex-direction: row;
}
.nav{
    width: 100wh;
    margin: 0.7rem;
    justify-content: space-between;
}
.head{
    display: flex;
    background-image: url('../img/Header.jpg');
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;


}
.head__tagline{

    align-self: center;
    flex: 1;
    padding-top: 30vh; 
    color: #ffffff;
    font-size: 2rem;
    font-weight: 100;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    background-color: $blue;
}
.info__txt{
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}
.info__txt_deployed{
    color: $grey;
    
    font-size: 1rem;
}
.navbar__link, .registrasion__link{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;

}

//img(src="../img/Header.jpg")
// .head{
//     height: 600px;
//     overflow: hidden;
//     position: relative;
// }

// .head__tagline{
//     position: absolute;
//     top:50%;
//     transform: translateY(-50%);
//     text-align: center;
//     width: 100%;
//     color: #ffffff;
//     font-size: 2rem;
//     font-weight: 100;
    
// }
// .logo{
//     position: absolute;
//     top:10px;
//     transform: translate(10%,10%);
// }

// .nav{
//     position: absolute;
//     top:10px;
//     transform: translate(10%,10%); 
//     color: #ffffff;
//     display: flex;
//     width: 100vw;
// } 




// .head-info{
//     top:100%;
//     transform: translateY(-100%);
//     width: 100%;
//     min-height: 100px;
//     background: $blue;
//     position: absolute;
// }
// .info__txt {
//     width: 33%;
//     text-align: center;
// }
// .title{   
//     font-weight: 700;
//     font-size: 2rem;
// }


