@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
body{
    font-family: 'Roboto';
}
.mainBackground{
    width: 100vw;
    height: 90vh;
    background-color: gray;
    background: url('../../../img/antonio.jpg') center no-repeat;
    background-size: cover;    
    display: flex;
    flex-direction: row;   
    align-items: flex-start;
    color: "#FFFFFF";
    justify-content: space-between;
    padding: 12px 10vw;
}
.flexMain{
    display: flex;

}
.item{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
}
.toolbar_head{
    display: flex;
    justify-content: space-between;
}